.activities {
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 94px;

  &__list {
    list-style: none;
    display: flex;
    margin-top: 50px;
  }
  &__item {
    position: relative;
    margin: auto;
    color: var(--text-color-white);
  }
  &__paragraph {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--activities-bg-text);
    display: flex;
    justify-content: center;
  }
}
.activities__list > .activities__item:not(:last-child) {
  margin-right: 30px;
}
