:root {
  --brand-color: #212121;
  --link-button-color: #2196f3;
  --note-link-color: #757575;
  --background-color-menu: #2f303a;
  --non-color-black: #000000;
  --text-color-white: #ffffff;
  --footer-address-color: #ffffff99;
  --border-header: #ececec;
  --index-bg: #f5f4fa;
  --activities-bg-text: #2f303acc;
  --team-social-media: #afb1b8;
  --footer-social-bg: #ffffff1a;
  --backdrop: #00000033;
  --button-border-close: #0000001a;
  --label-input: #21212133;
  --portfolio-animation: #2196f3e5;
  --portfolio-border: #eeeeee;
}
